
<%=render "./flower/nav.html.erb"%>

<div class="">
<h3>所有訂單</h3>
<div class="row" style="width:100vw;height:100vh">
      <div class="col-md-3"></div>
      <div class="col-md-6">
            <table class="table table-hover" style="position:relative;top:50px;border:dashed 2px #374f4d">
                  <tr class="active">
                        <td><%="訂單號碼"%></td>
                        <td><%="訂單狀態"%></td>
                        <td><%="總價"%></td>
                        <td><%="查看"%></td>
                        <td><%="付款狀態"%></td>
              
                  </tr>
                  <%@order.each do |order|%>
                  <tr style="border-bottom:solid 2px #374f4d ;">
                        <td><%="#{order.id}"%></td>
                        <td><%="#{order.status}"%></td>
                        <td><%="#{order.amount}"%></td>
                        <td><%=link_to "查看",order_path(order)%></td>
                        <%if order.not_paid?%>
                        <td><%=link_to "付款",payments_path(order_id: order.id)%></td>
                        <%else%>
                        <td><%="已付款"%></td>
                        <%end%>
                  </tr>
                  <%end%>
            </table>
      </div>
</div>
</div>