<h3>查看訂單</h3>
<div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
            <div class="row">
                  <div class="col-md-12">
                        <table class="table table-hover" style="position:relative;top:50px;border:dashed 2px #374f4d">
                              <tr class="active">
                                    <td><%="訂單號碼"%></td>
                                    <td><%="收件人"%></td>
                                    <td><%= "收件人地址" %></td>
                                    <td><%="收件人電話"%></td>
                                    <td><%="總金額"%></td>
                              </tr>
                              <tr style="border-bottom:solid 2px #374f4d ;">
                                    <td><%="#{@order.id}"%></td>
                                    <td><%="#{@order.user_name}"%></td>
                                    <td><%="#{@order.user_address}"%></td>
                                    <td><%="#{@order.user_phone}"%></td>
                                    <td><%="#{@order.amount}"%></td>
                              </tr>
                        </table>
                  </div>
                  <div class="col-md-12">
                        <table class="table table-hover" style="position:relative;top:50px;border:dashed 2px #374f4d">
                              <tr class="active">
                                    <td><%="編號"%></td>
                                    <td><%="商品名稱"%></td>
                                    <td><%= "商品價格" %></td>
                                    <td><%="數量"%></td>
                              </tr>
                              <%@order_items.each_with_index do |order_item,index|%>
                              <tr>
                                    <td><%="#{index}"%></td>
                                    <td><%="#{order_item.flower_product.name}"%></td>
                                    <td><%="#{order_item.price}"%></td>
                                    <td><%="#{order_item.quantity}"%></td>
                                    <%end%>
                              </tr>
                        </table>
                  </div>
            </div>
      </div>

</div>