



<div class="row">
	<div class="col-xs-4 col-sm-4 ">
	</div>
	<div class=" col-xs-2 col-sm-2 login-main-block">
			<div class="col-sm-12 Login-title">
	    	 	<h3 class="text-center text-info">管理員登入</h3>
	    	</div>
	    	 <%= form_tag admin_create_session_path,method: :post,class:"form-horizontal" do%>


				  			<div class="form-group login-input-comp">
					   	 		<%= label_tag :email,"Email:",for:"email",class:"col-xs-3 col-sm-3 control-label"%>
							   	 	<div class="col-sm-5 ">
										<%= text_field_tag :email ,'',class:"form-control col-sm-10 ",placeholder:"Email"%> 
									</div>
					  	 	</div>
					  		
					  	 	<div class="form-group login-input-comp">
								<%= label_tag :password,"Password:",for:"Password",class:"col-xs-3 col-sm-3  control-label" %>
									<div class="col-sm-5 ">
										<%= password_field_tag :password ,'',class:"form-control col-sm-10",placeholder:"Password"%> 
									</div>
				  			</div>
				  				<div class="form-group login-input-comp">
				  					<div class="col-xs-8 col-sm-8 ">
									</div>
				  				<div class="col-xs-2 col-sm-2">
				  				  <% if @current_user_name %>
								  		<%= link_to "登出",admin_logout_path,class:"log_ln_button"%> 
								 <% else %>
								 	 	<%= submit_tag "登入" ,class:"log_ln_button"%> 
								 <%end%>
								
								</div>
								
								<%= @current_user_name %>
								
								</div>
			<%end%>
	</div>
 

 </div> 