<%= link_to flower_product_path(product)  do %>
<%=image_tag (product.image_url.url || "flower_picture/flower_pot.png"),class:" img-responsive img-rounded"%>
<%end%>

<div class="caption">
	<%= link_to flower_product_path(product) do%>
	<h3><%=  product[:name]%></h3>
	<%end%>
	<p><%= product[:description] %></p>
	<%if current_user && current_user.is_admin %>
	<div>
		<%=link_to "編輯",edit_flower_product_path(product),class:"btn btn-primary"%>
		<%=link_to "刪除",flower_product_path(product),method: :delete,class:"btn btn-danger",data:{confirm:"確定要刪除嗎?"}%>
	</div>
	<%end%>
</div>