<h3>新增產品</h3>
<%= form_for @product,method: :post do |f|%>
<%=f.label :產品名稱 %>:
<%=f.text_field :name%><br/>
<%=f.label :產品敘述 %>:<br/>
<%=f.text_area :description%><br/>

<%=f.label :image ,"產品照片" %>:<br/>

<%=image_tag @product_url || "flower_picture/flower_pot.png",size:'200x100',id:"currentpicture"%><br/>

<%=f.file_field :image%><br/><br/>

<%=f.label :flower_sub_category_id ,'類別' %>:
<%=f.select("flower_sub_category_id",FlowerSubCategory.all.collect{|s| [s.name_with_category,s.id]},{include_blank:'請選擇'})%>  <br/>
<%=f.submit :新增產品 ,class:"btn btn-default"%>
<%=link_to '返回',flower_products_path,class:"btn btn-default"%>
<%end%>


<script type="text/javascript">
	
	$(function(){
		$("#flower_product_image").change(function(){
			readURL(this,"currentpicture");
		});
		function readURL(input,image_tag_id){
		if(input.files && input.files[0]){
			var reader = new FileReader();
			reader.onload=function(e){
				$('#'+image_tag_id).attr('src',e.target.result);
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	});


</script>
<%#= form_tag flower_products_path,method:"post",class:"form-inline" do%>

<!-- <h3>新增產品</h3>
 <div class="form-group">
    <label for="exampleInputName2">產品名稱:</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="花火">
  </div><br/><br/>
 <div class="form-group">
 <label for="exampleInputName2">	描述:</label>
<textarea name="description" class="form-control" rows="3"></textarea>
</div><br/>
<div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">ex.jpg .png</p>
  </div><br/>
<button type="submit">送出</button> -->

<%#=@note%>

<%#end%>