<h3>編輯圖片</h3>
<%= form_for @weddingpotho ,method: :put do |p| %>
    <%= p.label :name,"名稱"%>
    <%= p.text_field :name %> <br />
    <%= p.label :image,"圖片"%> :
    <%= p.file_field :image %> <br />
    <%= p.submit "更新" %>
    <%= link_to "#{button_tag '返回頁面',type:"button",class:'btn btn-success'}".html_safe, wedding_photos_path%>
<% end %>