<h3>新增產品</h3>
<%= form_for  @product , method: :post  do |product| %>

<%= product.label :名稱%>
<%= product.text_field :name%> <br />
<%= product.label :描述%>
<%= product.text_field :description%> <br />
<%= product.label :價格%>
<%= product.text_field :price%> <br />
<%= product.label :圖片連結%>
<%= product.text_field :image_url%> <br />
<%= product.submit "新增", class:"btn btn-primary"%>
<%= link_to "back" ,root_path , class:"btn btn-primary" %>
<%end%>
<%= @note%>
